.root {
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 500;
  font-size: 14px;
}

.userDetails {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}
