.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menuButton {
    display: none;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    button {
      margin-left: 10px;
      height: 40px;
    }

    a {
      text-decoration: none;
    }
  }

  @media (max-width: 900px) {
    .menuButton {
      display: block;
    }

    .buttons {
      display: none;
    }
  }
}

.logo {
  background-color: inherit;
  color: black;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: #4361ee;
  }
}

.researcher {
  color: black;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.15px;
}



